@model PruebasUnitarias.Models.IndexViewModel

<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th> <!-- Nueva columna para acciones -->
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <!-- Botón para actualizar el producto -->
                    <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Actualizar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Contact Messages</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.ContactMessages)
        {
            <tr>
                <td>@message.Name</td>
                <td>@message.Email</td>
                <td>@message.Message</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-success">Create a Product</a>
<a href="@Url.Action("Contact")" class="btn btn-info">Contact Us</a>
